.container {
    padding: 1em;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: whitesmoke;
    /* border-width: 1px; */
}

h3 {
    display: inline;
    font-weight: normal;
}

.ranking {
    display: inline;
    font-weight: normal;
    font-size: small;
    text-align: end;
    color: #00d39a;
}

h2 {
    display: inline;
    font-weight: bold;
}

.growth {
    display: inline;
    font-weight: lighter;
    font-size: small;
    text-align: end;
}

.green {
    color: #00d39a;
}

.red {
    color: red;
}

