.nav-container {
    background-color: #333;
    overflow: hidden;

}

.nav-container a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-container h1 {
    float: left;
    display: block;
    background-color: #00d39a;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.nav-container a:hover {
    background-color: rgb(245, 245, 245);
    color: black;
}

.nav-container a:active {
    background-color: #00d39a;
    color: white;
}
